<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center" style="background-color: gray; color:white;">
          <h1>Admin Area</h1>
          <h6>Login to Manage Properties</h6>

        </div>
        <form action="">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Email </label>
            <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Email" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">PassWord</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="PassWord" autocomplete="off">
          </div>
          <button type="button" class="btn btn-primary text-center">Login</button>
        </form>
        <a style="text-decoration: non; cursor:pointer; color:blue; font-weight: bold;" routerLink="/signup">New user ? Click to Signup</a>

      </div>
    </div>
  </div>
</div>
