<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center" style="background-color: gray; color:white;">
          <h1>Signup Area</h1>
          <h6>Create Free Account ,No Charge </h6>

        </div>
        <form action="">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Name </label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="name" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Mobile </label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Mobile" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Email </label>
            <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Email" autocomplete="off">
          </div>

          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">PassWord</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="PassWord" autocomplete="off">
          </div>
          <button type="button" class="btn btn-primary text-center">Signup</button>
        </form>
        <a style="text-decoration: non; cursor:pointer; color:blue; font-weight: bold;" routerLink="/login">Already Account  ? Click to Login</a>

      </div>
    </div>
  </div>
</div>
